<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Nosotros</h6>
          <p class="text-justify">Somos una empresa dedicada para promover una cultura de diseño ecológico mediante la construcción de jardines y espacios urbanos que embellecen </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Derechos reservados
            <a href="#">Plus Plant</a>.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/" target=”_blank”><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/home"  target=”_blank”><i class="fab fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/" target=”_blank”><i class="fab fa-instagram"></i></a></li>
            <li><a class="mail" href="mailto: lamasplanta@gmail.com" target=”_blank”><i class="fal fa-envelope"></i></a></li>   
          </ul>
        </div> 
      </div>
    </div>
  </footer>