<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/footer.css">
  <title>La+Planta</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container-fluid">
              <a class="navbar-brand brand" href="#">La+Planta</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars burger-icon"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Crear Cuenta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Iniciar Sesion</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
      <main class="container my-5">
        <div class="row">
          <section class="col-md-6 my-5 offset-md-3">
            <div class="card shadow p-5">
              <form method="POST" action="#">
                  <div class="top-form">
                      <i class="fas fa-seedling plant"></i>
                      <h3 class="text-center text-uppercase mb-4">Login</h3>
                  </div>
                <hr> 
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" placeholder="Email" class="form-control">
                </div>
                <label for="Password">Password</label>
                <div class="input-group">
                  <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" aria-label="Password" aria-describedby="basic-addon2">
                  <div class="input-group-append btn-group">
                    <span class="input-group-text"><i class="fas fa-unlock-alt lock"></i>
                    </span>
                  </div>
                </div>
                <button class="btn btn-block btn-secondary mt-3 login-text">Login</button>
                <p class="mt-3 text">¿No tenes cuenta? <a href="#" class="sign-text"> Crea una aqui</a></p>
              </form>
            </div>
          </section>
        </div>
      </main>
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>Nosotros</h6>
              <p class="text-justify">Somos una empresa dedicada para promover una cultura de diseño ecológico mediante la construcción de jardines y espacios urbanos que embellecen </p>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2020 Derechos reservados
                <a href="#">La+Planta</a>.
              </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="https://www.facebook.com/" target=”_blank”><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="https://twitter.com/home"  target=”_blank”><i class="fab fa-twitter"></i></a></li>
                <li><a class="instagram" href="https://www.instagram.com/" target=”_blank”><i class="fab fa-instagram"></i></a></li>
                <li><a class="mail" href="mailto: lamasplanta@gmail.com" target=”_blank”><i class="fal fa-envelope"></i></a></li>   
              </ul>
            </div> 
          </div>
        </div>
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>