:root {
  --vivid-malechite: #00d830;
  --tin: #909090;
  --dark-tin: #26272b;
  --snowflake:#f0f0f0;
  --pigiron: #484848;
   --limecandypearl: #a8ff00;
   --greenfiasco: #a8f000;
}

.navbar {
    background-color: var(--dark-tin);
    
}

.navbar-brand  {
  font-size: 1rem;
  color:var(--vivid-malechite);
}


 .burger-icon {
  color: var(--vivid-malechite);
  font-size: 1rem;
}

.navbar-toggle {
  border: none;
  outline: none;
}

 .navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-link  {
  text-transform: uppercase;
  color: var(--tin);
  padding: 10px;
  font-size: 1em;

}

